* {
    scroll-behavior: smooth;
    transition: 0.4s;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: 20px;
    height: 300px;
    width: 280px;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid white;

}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}