@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    /* .dark-bg-top {
        @apply bg-gradient-to-t dark:from-black dark:to-red-950 dark:text-white
    } */
}


*,
body {
    margin: 0;
    padding: 0;
    transition: 0.7s;
    transition-property: transform;
    /* overflow-x: hidden; */
}